{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}


{% block content %}
<style>
  .container{
    padding-left: 100px;
    padding-top: 0px;
}
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1> Change password</h1>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}