{% extends 'base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}
<style>
  .container{
      padding-left: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
  }
  .card-header{
      background-color: #2a3042;
      color:  #f8f8fb;
      border-radius: 20px !important;
    }
    .card{
      border-radius: 20px;
    }
    .card-title h3{
      border-radius: 20px;
      color: #f8f8fb;
      text-align: center;
    }
    .shadow {
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card shadow p-3 mb-5">
        <div class="card-header">
          <div class="card-title">
            <h3>Password changed!</h3>
          </div>
        </div>
        <div class="card-body">
          
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}