{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}


{% block content %}
<style>
  .container{
    padding-left: 250px;
    padding-top: 100px;
    
}
.card{
  border-radius: 30px;
}
.card-header{
  background-color: #2a3042;
  color:  #f8f8fb;
  border-radius: 20px !important;
}
.card-title h3{
  border-radius: 20px;
  color: #f8f8fb;
}
.shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left shadow-lg top p-3 mb-5">
        <div class="card-header">
          <h3 class="card-title text-center">Password changed!</h3>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Change password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}