{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reset your password 
{% endblock title %}



{% block content %}
<style>
    .container{
        padding-left: 0px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .card-header{
        background-color: #2a3042;
        color:  #f8f8fb;
        border-radius: 20px !important;
      }
      .card{
        border-radius: 20px;
      }
      .card-title h3{
        border-radius: 20px;
        color: #f8f8fb;
        text-align: center;
      }
      .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
      }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow p-3 mb-5">
                <div class="card-header">
                    <div class="card-title">
                      <h3>Reset your password</h3>
                    </div>
                  </div>
                <div class="card-body">
                    <p>Enter your email address and we will send you a link to reset your password.</p>
                    <form method="post" novalidate>
                    {% csrf_token %}
                        {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">
                    Send password reset email
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}