{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock  %}

{% block content %}
<style>
    .main-content{
        padding-left: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .card-header{
        background-color: #2a3042;
        color:  #f8f8fb;
        border-radius: 20px !important;
      }
      .card{
        border-radius: 20px;
      }
      .card-title h3{
        border-radius: 20px;
        color: #f8f8fb;
        text-align: center;
      }
      .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
      }
</style>
<div class="container-fluid main-content">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow p-3 mb-5">
                <div class="card-header">
                    <div class="card-title">
                      <h3>Reset your password</h3>
                    </div>
                  </div>
                <div class="card-body">
                   <div class="alert alert-info"> 
                    An email has been sent with instruction to reset your password
                </div>
                    <!--p>Check your email for a link to reset your password. 
                        If it doesn't appear within a few minutes, check your spam folder.
                    </p-->
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a> 
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock  %}