@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #17202a;
  padding-top: 200px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding-top: 200px;
}

.wrapper .sidebar ul li a {
  color: #abb2b9;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #566573;
}

.wrapper .sidebar ul li:hover a {
  color: #aab7b8;
}

.wrapper .sidebar .subscriptions {
  border-top: 2px solid #abb2b9;
  border-bottom: 2px solid #abb2b9;
}
.wrapper .sidebar .subscriptions h3 {
  padding-top: 10px;
  color: #abb2b9;
  text-transform: uppercase;
  text-align: center;
}
.wrapper .navbar {
  background-color: #1b2631;
  color: #aeb6bf;
  width: 100%;
  padding-left: 0px;
}
a.navbar-brand {
  text-decoration: none;
  color: #aeb6bf;
  text-transform: uppercase;
}
.navbar-brand {
  padding-left: 10px;
}
.wrapper .navbar .navstyle {
  list-style-type: none;
}
.wrapper .navbar .navstyle li a:hover {
  background-color: #aeb6bf;
  color: #1b2631;
}
a.nav-link {
  text-decoration: none;
  color: #aeb6bf;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  background-color: #fdfdfd;
}
.navbar-brand {
  font-family: "Peralta", cursive;
}
.shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #fff;
  background-color: #f00000;
  border-color: #dc281e;
}

.masthead {
  background: #3398e1;
  height: auto;
  padding-bottom: 15px;
  box-shadow: 0 16px 48px #e3e7eb;
  padding-top: 10px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.active {
  background-color: green;
  color: white;
}
.sidebar-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidebar-btn:hover {
  color: #f1f1f1;
}
